@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Web Application</h1>
    <p>Hosting .net core web application on Azure Webapp</a>.</p>
</div>
